$color-white: #fff;
$color-black: #000;
$color-1: #e9ef00;
$color-2: #707070;
$color-3: #313131;
$color-4: #313131;
$color-5: #e6ab00;
$color-6: #E26A00;
$color-7: #e6ab00;
$color-8: #e9ef00;
$color-9: #f9a450;
$color-10: #131318;
$gradient: linear-gradient(to right, $color-1 0%, rgba(255, 115, 0, 0.64) 100%);